<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterClient</servlet-name>
        <servlet-class>pages.RegisterClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pages.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManufacturerList</servlet-name>
        <servlet-class>web.ManufacturerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProd</servlet-name>
        <servlet-class>admin.addProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyProd</servlet-name>
        <servlet-class>web.buyProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProd</servlet-name>
        <servlet-class>web.listProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>pages.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>pages.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>web.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>pages.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manufacturers</servlet-name>
        <servlet-class>pages.Manufacturers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>pages.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStock</servlet-name>
        <servlet-class>web.addStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>pages.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>web.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>pages.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Legal</servlet-name>
        <servlet-class>pages.Legal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>pages.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>populusDatabasus</servlet-name>
        <servlet-class>web.populusDatabasus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAddress</servlet-name>
        <servlet-class>pages.ConfirmAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>pages.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelToCart</servlet-name>
        <servlet-class>web.DelToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifQuant</servlet-name>
        <servlet-class>web.ModifQuant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPanier</servlet-name>
        <servlet-class>pages.ConfirmPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeCommands</servlet-name>
        <servlet-class>pages.SeeCommands</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>populusDatabasusImages</servlet-name>
        <servlet-class>web.populusDatabasusImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexAdmin</servlet-name>
        <servlet-class>admin.IndexAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearch</servlet-name>
        <servlet-class>admin.AdminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProducts</servlet-name>
        <servlet-class>admin.AdminProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payer</servlet-name>
        <servlet-class>pages.Payer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayementOk</servlet-name>
        <servlet-class>pages.PayementOk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultCommands</servlet-name>
        <servlet-class>admin.ConsultCommands</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterClient</servlet-name>
        <url-pattern>/RegisterClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManufacturerList</servlet-name>
        <url-pattern>/ManufacturerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProd</servlet-name>
        <url-pattern>/admin/addProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProd</servlet-name>
        <url-pattern>/listProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyProd</servlet-name>
        <url-pattern>/buyProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/Categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manufacturers</servlet-name>
        <url-pattern>/Manufacturers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStock</servlet-name>
        <url-pattern>/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Legal</servlet-name>
        <url-pattern>/Legal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>populusDatabasus</servlet-name>
        <url-pattern>/populusDatabasus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAddress</servlet-name>
        <url-pattern>/ConfirmAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelToCart</servlet-name>
        <url-pattern>/DelToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifQuant</servlet-name>
        <url-pattern>/ModifQuant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPanier</servlet-name>
        <url-pattern>/ConfirmPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeCommands</servlet-name>
        <url-pattern>/SeeCommands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>populusDatabasusImages</servlet-name>
        <url-pattern>/populusDatabasusImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexAdmin</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearch</servlet-name>
        <url-pattern>/admin/AdminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProducts</servlet-name>
        <url-pattern>/admin/AdminProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/admin/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payer</servlet-name>
        <url-pattern>/Payer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayementOk</servlet-name>
        <url-pattern>/PayementOk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultCommands</servlet-name>
        <url-pattern>/admin/ConsultCommands</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>accès Administrateur</display-name>
            <web-resource-collection>
                <web-resource-name>AdminPages</web-resource-name>
                <url-pattern>/admin/*</url-pattern>
            </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
<!--    <security-role-mapping>
        <role-name>Admin</role-name>
        <principal-name>admin</principal-name>
        <principal-name>toto</principal-name>
    </security-role-mapping>-->
</web-app>
