#content label {
    display:block;
    clear:both;
}

#content form {
    width:500px;
    margin:auto;
}

#content label input {
    float:right;
    width:270px;
    margin-bottom:3px;
}

#content textarea {
    width:494px;
    resize: none;
    height:100px;
}

#content form>input {
    float:right;
}