/* 
    Document   : ViewCart
    Created on : 6 déc. 2013, 09:19:15
    Author     : Pierrick
    Description:
        Purpose of the stylesheet follows.
*/

p {
    /*color: #00a300;*/
    /*font-family: "Courier New";*/
    font-size: 110%;
    margin:3px 3px -5px;
    padding-bottom: 20px;
}

div#content {
    /*padding: 10px 10px;*/
    margin-right: 5px;
}

table {
    /*margin: 0px 0px 0px 40px;*/
    /*border: 2px solid rgb(153, 153, 153);*/
    border-collapse: collapse;
    width: 820px;
}

td {
    padding: 7px 7px 7px 7px;
    border-right: 2px solid rgb(153, 153, 153);
}

th {
    padding: 5px 5px 5px 5px;
    border: 2px solid rgb(153, 153, 153);
}

tr:nth-child(odd) {
    background:#d1d1d1
}

td.prems {
    border-left: 2px solid rgb(153, 153, 153);
}

td.priceLine {
    text-align:right;
}

td.priceTotal{
    color: #00a300;
    font-family: "Courier New";
    font-weight: bold;
    text-align:right;
    border-right: 2px solid rgb(153, 153, 153);
    border-bottom: 2px solid rgb(153, 153, 153)
}

td.tittleTotal{
    color: #00a300;
    font-family: "Courier New";
    font-weight: bold;
    text-align:right;
    border-right: none;
    border-bottom: 2px solid rgb(153, 153, 153);
}

td.lineTotal1, td.lineTotal3 {
    border-right: none;
    border-top: 2px solid rgb(153, 153, 153);
    background: #e9f0e9;
}

td.lineTotal2 {
    border-top: 2px solid rgb(153, 153, 153);
    background: #e9f0e9;
}

td.price {
    text-align:right;
}

td.quant {
    text-align:center;
}

td.quant * {
    display: inline;
    margin: 0px 2px;
}


td:last-child(suppr) {
    border-bottom: 2px solid rgb(153, 153, 153);
}

td.quant, td.price, td.priceLine {
     width: 150px;
}

div.info {
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align:left;
}

input#valid {
    margin: 5px 0px 0px 50px;
}

#content fieldset {
    margin-top: 10px;
    padding: 4px;
    width: 400px;
}

#content fieldset * {
    margin-left: 15px;
}

#content fieldset legend {
    margin-left: 10px;
    font-size: 110%;
    padding: 0px 4px;
}

#content fieldset input#submit {
    margin-left: 20px;
    margin-top: 2px;
}
