/* 
    Document   : ConfirmAddress
    Created on : 13 déc. 2013, 10:39:09
    Author     : Pierrick
    Description:
        Purpose of the stylesheet follows.
*/

#content label {
    display:block;
    clear:both;
}

#content form {
    width:500px;
    margin:auto;
}

#content legend {
    padding:0 5px;
}

#content fieldset {
    padding:5px;
    margin-bottom:10px;
}

#content fieldset input, #confirm {
    float:right;
}

#content label input {
    width:360px;
    margin-bottom:3px;
}

#content textarea {
    display:block;
    resize:none;
    width:484px;
    height:100px;
}

#sameAddr {
    position:relative;
    top:3px;
}

/*
#content form {
    width: 450px;
    margin: auto;
}

#content fieldset {
    padding: 4px;
}

#content fieldset * {
    margin-left: 20px;
}

#content fieldset legend {
    margin-left: 10px;
    font-size: 110%;
    padding: 0px 4px;
}

#content fieldset label{
    width: 200px;
}

#content fieldset input{
    width: 200px;
    float: right;
    margin-right: 80px;
}

#confirm {
    margin: 5px 0px 5px 280px;
}*/

