/* 
    Document   : ConfirmAddress
    Created on : 13 déc. 2013, 10:39:09
    Author     : Pierrick
    Description:
        Purpose of the stylesheet follows.
*/

#content label {
    display:block;
    clear:both;
}

#content form {
    width:500px;
    margin:auto;
}

#content legend {
    padding:0 5px;
}

#content fieldset {
    padding:5px;
    margin-bottom:10px;
}

#content fieldset input, #confirm {
    float:right;
}

#content fieldset input {
    width:360px;
    margin-bottom:3px;
}

#content textarea {
    display:block;
    resize:none;
    width:484px;
    height:100px;
}

#sameAddr {
    position:relative;
    top:3px;
}
