/* 
    Document   : ConfirmAddress
    Created on : 13 déc. 2013, 10:39:09
    Author     : Pierrick
    Description:
        Purpose of the stylesheet follows.
*/

#content form {
    width: 450px;
    margin: auto;
}

#content fieldset {
    padding: 4px;
}

#content fieldset * {
    margin-left: 20px;
}

#content fieldset legend {
    margin-left: 10px;
    font-size: 110%;
    padding: 0px 4px;
}

#content fieldset label{
    width: 200px;
}

#content fieldset input{
    width: 200px;
    float: right;
    margin-right: 80px;
}

#confirm {
    margin: 5px 0px 5px 280px;
}

