#add2cart {
    float:right;
    border:2px solid #666666;
    border-radius: 5px;
    margin:2px 0 2px 2px;
    background:#d1d1d1;
    padding:3px;
}

#add2cart:hover {
     border-color:#00a300;
}

#photo {
    float:left;
    margin-right:10px;
    border:2px solid #D1D1D1;
    border-radius:5px;
}

.prod_right {
    float:right;
    margin:5px 10px;
    text-align:right;
    padding-right:10px;
}

#content {
	margin-bottom:10px;
	margin-right:10px;
}

#content >* {
	display:block;
}

h2 {
	margin:5px 0;
}

h2 a {
	text-decoration:none;
}

#content table {
	overflow: hidden;
}

#content td:last-child:before {
	content:":";
        margin:0 0.6ex 0 0.3ex;
}

#content td:first-child {
	text-align:right;
}

#content td {
	vertical-align:top;
}

.price {
	font-size:170%;
	color:#00a300;
}

.stock {
	background:url("img/yes.png") right center no-repeat;
	padding-right:25px;
	height:20px;
}

.stock_no {
	background-image:url("img/no.png");
}

.pages {
	margin:0 10px 10px;
	float:right;
}

.pages a {
	text-decoration:none;
	color:black;
}

.pages span {
	color:#00a300;
	font-weight:bold;
}

.pages * {
	border:1px solid #666666;
	background:#d1d1d1;
	padding:3px;
}

#content table table td:first-child {
    text-align:left;    
}

#content table table td:first-child:before {
    content:"-- ";
}

#content table table {
	margin-left:-50px;
}

